html,
body {
    min-height: 100%;
    height: 100%;
}

body {
    margin: 0;
    background: linear-gradient(#ffffff);
    background-image: url("hii.png");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: scroll;
}

a {
    color: #ffaa00;
    text-decoration: none;
    transition: color 0.2s ease;
}

a:visited {
    color: #000000;
}

a:hover,
a:focus {
    color: #0088ff;
    text-decoration: underline;
}

h1,h2,h3 {
    color: rgb(34, 255, 0);
}

p{
    font-size: 20px;
    color: rgb(34, 255, 0);
}